.formulario-cadastro{
    display: flex;
    flex-direction: column;
    width:50vw;
}

.formulario-cadastro input{
    margin: 1.5em 0 1.5em 1em;
}

.formulario-cadastro textarea{
    height: 30%;
    margin: 1.5em 0 1.5em 1em;
    resize: none;
}
.formulario-cadastro button{
    margin-left: 1em;
    width: 30%;
    height: 3em;
    background-color: black;
    color:white;
    align-self: flex-end;
}